VITE_KAKAO_CONSULTATION_URL=
VITE_LEAD_API_ENDPOINT=/api/leads
VITE_CONTACT_EMAIL=money8881@hanmail.net
VITE_YOUTUBE_URL=https://www.youtube.com/@%EB%8B%AD%EC%9E%A5%EC%88%98%ED%9B%84%EB%9D%BC%EC%9D%B4%EB%93%9C
VITE_NAVER_BLOG_URL=https://blog.naver.com/dakjangsu78
VITE_INSTAGRAM_URL=https://www.instagram.com/dakjangsu_official_/
RESEND_API_KEY=
LEAD_TO_EMAIL=
LEAD_FROM_EMAIL=Dakjangsu Franchise <onboarding@resend.dev>
LEAD_EMAIL_SUBJECT_PREFIX=[닭장수 창업상담]
